/* CSS Variables */
:root {
  --pink-light:    #FEBCC6;
  --pink-mid:      #F7A2AE;
  --pink-dark:     #C66C7A;
  --pink-footer:   #E28392;
  --text-dark:     #28160B;
  --accent-purple:   #332D86;
  --accent-yellow: #FFE478;
  --font-serif:    Georgia, 'Times New Roman', serif;
}

/* Reset & Base */
body {
  font-family: var(--font-serif);
  color: var(--text-dark);
  background-color: var(--pink-light);
}

/* SITE NAV (index.html) */
.primary-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--pink-footer);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-item {
  position: relative;
}

.nav-link {
  font-size: 15px;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav-link:hover {
  color: var(--accent-purple);
}

.nav-dropdown-arrow {
  font-size: 11px;
}

/*  DARK/LIGHT MODE SWITCH  */
.theme-toggle {
  cursor: pointer;
  background-color: var(--pink-footer);
}

.toggle-switch {
  width: 58px;
  height: 31px;
  background-color: var(--pink-footer);
  border-radius: 25px;
  border-style: solid;
  border-color: var(--text-dark)
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.toggle-knob {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-icon {
  font-size: 28px;
  color: var(--accent-yellow);
  line-height: 1;
}

/* HEADLINE SECTION (index.html) */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink-light);
  padding: 360px 275px 100px 275px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 257px;
}

.hero-text-wrapper {
  width: 100%;
}

.hero-headline {
  font-family: var(--font-serif);
  font-size: 32px;
  font-weight: normal;
  color: var(--text-dark);
  line-height: 1.75;
}

.hero-name {
  color: var(--accent-purple);
  font-weight: 700;
}

.hero-cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.hero-cta-link {
  color: var(--accent-purple);
  font-size: 20px;
}

.hero-cta-arrow {
  font-size: 20px;
  color: var(--accent-purple);
  display: block;
}
